@model Funtility.ViewModels.GameCard
<style>
    .gameCard-head {
        height: 30px;
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-style: var(--border-style);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        padding: 0 10px
    }
    .gameCard-body {
        height: 300px;
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-style: var(--border-style);
        border-top: none;
        border-bottom: none;
        padding: 10px;
    }
    .gameCard-footer {
        height: 30px;
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-style: var(--border-style);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        padding: 0 10px
    }
    .gameCard-footer-button {
        border-width: var(--border-width);
        border-color: var(--border-color);
        border-style: var(--border-style);
        border-radius: 3px;
        margin: 3px;
        padding: 3px 0 3px 6px;
        text-decoration: none;
        color: black;
        width: 109px;
    }
    .gameCard-footer-button:hover {
        background-color: rgba(255, 255, 255, .6);
    }
</style>

<div class="gameCard">
    <div class="gameCard-head">
        <h2>@Model.GameName</h2>
    </div>

    <div class="gameCard-body">
        @Model.Description
    </div>

    <div class="gameCard-footer">
        <a href="http://localhost:54678/TextAdventure/Home" class="fa fa-home gameCard-footer-button"> Home</a>
        <a href="http://localhost:54678/TextAdventure/Home/Play?id=0" class="fa fa-play gameCard-footer-button"> Play</a>
        <a href="http://localhost:54678/TextAdventure/Home/Create?id=0" class="fa fa-pencil-square gameCard-footer-button"> Create</a>
    </div>
</div>