@{
    ViewBag.Title = "Home Page";
}
    
<div>
    <h1>Welcome to Funtility feel free to browse. </h1>
    <br />
    <h1>Login or register to play!</h1>
</div>

<script>
    window.addEventListener('resize', function () {
        ResizeBodyArea();
    });
</script>