@model Funtility.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<div style="margin:0 10%;">
    <div>
        <h1>Welcome to Funtility!</h1>
        <h2>Feel free to browse.</h2>
        <br />
        <h3>Login or register to play!</h3>
        <h3>Here's some information about us.</h3>
        <h3>Etc...</h3>
    </div>

    @foreach (var gameCard in Model.Games)
    {
        @Html.Partial("_GameCard", gameCard);
    }
</div>


<script>
    window.addEventListener('resize', function () {
        ResizeBodyArea();
    });
</script>