.game-main {
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

.game-header {
    padding: 0 10%;
    height: 40px;
    background-color: #2d2d2d;
}

.game-title {
    display: inline;
    color: white;
    padding-left: 10px;
    padding-bottom: -4px;
    font-size: 20px;
}

.game-header-button {
    height: 40px;
    width: 200px;
}

.game-area {
    overflow-y: auto;
    padding-left: 10%;
    padding-right: 10px;
    background-color: #bababa;
}