.gm-header {
    padding: 0 10%;
    height: 40px;
    background-color: #2d2d2d;
    position: sticky;
    top: 0;
}

.gm-main {
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

.gm-area {
    overflow-y: auto;
    padding-left: 10%;
    padding-right: 20px;
    background-color: #bababa;
}

.gm-title {
    display: inline;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

.gm-header-button {
    font-size: 24px;
    height: 40px;
    width: 100px;
}

.gm-settings-button{
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.6);
    border-radius: 3px;
    padding: 7px 8px;
    margin: 3px;
    margin-left: 8px;
    background-color: rgba(255,255,255,.2);
    cursor: pointer;
}

.gm-settings-button:hover {
    background-color: rgba(255,255,255,.5);
}

.gm-settings-area {
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: rgb(45, 45, 45) 0px 3px 6px;
    border-color: rgb(45,45,45);
    border-width: 3px;
    border-style: solid;
    border-top: none;
}

/*#region Dropdown*/

.gm-dropdown {
    position: relative;
    display: inline;
}

.gm-dropdown-button {
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

.gm-dropdown-button:hover {
    background-color: #0026ff;
}

.gm-dropdown-button:focus {
    background-color: #0026ff;
}

.gm-dropdown-content {
    display: none;
    position: absolute;
    background-color: #0026ff;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.gm-dropdown-content a {
    font-size: 20px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.gm-dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*#endregion */