<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_Scripts"); }
    <title>Funtility - @ViewBag.Title</title>
</head>

<body id="site-main">

    <div class="site-grid>">

        <!------ site-grid ROW 1 ------>
        <div id="site-header" class="site-header">
            @{ Html.RenderPartial("_HeaderPartial"); }
        </div>

        <!------ site-grid ROW 2 ------>
        <div id="site-body" class="site-body">
            @RenderBody()
        </div>

        <!------ site-grid ROW 3 ------>
        <div id="site-footer" class="site-footer">
            @{ Html.RenderPartial("_FooterPartial"); }
        </div>


    </div> <!-- End Site Grid -->

    <div id="modalFade" style="display: none;"> @* Render partial here *@ </div>

    <script>
        ResizeBodyArea();
    </script>

</body>

</html>
