@model IEnumerable<Funtility.Areas.TextAdventure.Models.TextAdventureGame>

@{
    ViewBag.Title = "Text Adventure";
}

<h1>Text Adventure!</h1>

<h2>
    This will be the Text Adventure game home page <br />
    There might be a description of the game. <br />
    User comments / testimonials?
</h2>

