* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.site-grid {
    display: grid;
    grid-template-rows: 50px auto 30px;
}

.site-title {
    display: inline;
    float: left;
    font-size: 35px;
    color: white;
}

.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 10%;
    background-color: black;
}

.site-header-button {
    float: right;
    margin: 0 10px;
    width: 200px;
    height: 50px;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #444;
    padding: 10px 10%;
}

.login-button {
    float: right;
    margin: 8px 10px;
    width: 200px;
    height: 34px;
    border-radius: 5px;
    background-color: #444444;
    color: white;
    border: solid 1px #555555;
    font-size: 18px;
    cursor: pointer;
}

/*#region Modal*/

.modal-fade {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-body {
    z-index: 1;
    display: block;
    position: fixed;
}

.modal-login {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
}

/*#endregion*/