/*#region Whole Site */

/*#region Custom Properties*/
:root {
    /*Site Home*/
    --border-color: black;
    --border-radius: 6px;
    --border-style: solid;
    --border-width: 1px;
    --background-color: rgba(0, 0, 0, .1);
}
/*#endregion*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.site-grid {
    display: grid;
    grid-template-rows: 50px auto 30px;
}

.site-title {
    display: inline;
    float: left;
    font-size: 35px;
    color: white;
}

.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 10%;
    background-color: black;
}

.site-header-button {
    float: right;
    margin: 0 10px;
    width: 200px;
    height: 50px;
}

.site-body {
    position: fixed;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #444;
    padding: 10px 10%;
}

/*#endregion*/

.login-button {
    float: right;
    margin: 8px 10px;
    width: 200px;
    height: 34px;
    border-radius: 5px;
    background-color: #444444;
    color: white;
    border: solid 1px #555555;
    font-size: 18px;
    cursor: pointer;
}

/*#region Modal*/

.modal-fade {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-body {
    z-index: 1;
    display: block;
    position: fixed;
    border-color: var(--border-color);
    border-width: var(--border-width);
}

.modal-login {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
}

/*#endregion*/

/*#region GameCard*/

.gameCard {
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: var(--border-style);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 10px;
    width: 400px;
}

.gameCard-head {
    height: 30px;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 0 10px
}

.gameCard-body {
    height: 300px;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-top: none;
    border-bottom: none;
    padding: 10px;
}

.gameCard-footer {
    height: 30px;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 0 10px
}

.gameCard-footer-button {
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-radius: 3px;
    margin: 3px;
    padding: 3px 0 3px 6px;
    text-decoration: none;
    color: black;
    width: 109px;
}

.gameCard-footer-button:hover {
    background-color: rgba(255, 255, 255, .6);
}
/*#endregion*/